
<h3>Register student</h3>
StudentCardId
<input type="text" [(ngModel)]="student.StudentCardId" class="form-control" /><br />
FacultyId
<input type="number" [(ngModel)]="student.FacultyId" class="form-control" /><br />
GroupId
<input type="number" [(ngModel)]="student.GroupId" class="form-control" /><br />
RoomId
<input type="number" [(ngModel)]="student.RoomId" class="form-control" /><br />
StudyYear
<input type="number" [(ngModel)]="student.StudyYear" class="form-control" /><br />
CategoryId
<input type="number" [(ngModel)]="student.CategoryId" class="form-control" /><br />
<button (click)="Done(student)" class="btn">Done</button>