################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dormitories/packages
/Dormitories/Dormitories.Web/bin
/Dormitories/Dormitories.Web/node_modules
/Dormitories/Dormitories.Web/obj/Debug
/Dormitories/Dormitories/packages
/Dormitories/Dormitories/.vs
/Dormitories/Dormitories/Dormitories.WEB/bin
/Dormitories/Dormitories/Dormitories.WEB/obj/Debug
/Dormitories/Dormitories/Dormitories.DAL/bin/Debug
/Dormitories/Dormitories/Dormitories.DAL/obj/Debug
/Dormitories/Dormitories/Dormitories.BL/bin/Debug
/Dormitories/Dormitories/Dormitories.BL/obj/Debug
Dormitories/Dormitories/Dormitories.WEB/node_modules/
Dormitories/Dormitories/node_modules/
Dormitories/Dormitories/Dormitories.sln.DotSettings.user
*.js
*js.map
