################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dormitories/packages
/Dormitories/Dormitories.Web/bin
/Dormitories/Dormitories.Web/node_modules
/Dormitories/Dormitories.Web/obj/Debug
