<h3>Add dormitory</h3>
Description
<input type="text" [(ngModel)]="dormitory.Description" class="form-control" /><br />
Address
<input type="text" [(ngModel)]="dormitory.Address" class="form-control" /><br />
Number
<input type="number" [(ngModel)]="dormitory.Number" class="form-control" /><br />
<div class="dropdown" dropdown>
    <button class="btn btn-primary" dropdown-open>Comendants</button>
    <ul class="dropdown-menu">
        <tr *ngFor="let administrator of administrators">
        <li><a (click)="dormitory.ComendantId=administrator.Id">{{ administrator.Id }}</a></li>
        </tr>
    </ul>
</div>
<button (click)="Done(dormitory)" class="btn">Done</button>