<h1>Dormitories!</h1>
<p *ngIf="!dormitory"><em>Loading...</em></p>
<div *ngIf="dormitory">
    <p> <strong>Id</strong> : {{dormitory.Id}}</p>
    <p><strong>Description</strong> : {{ dormitory.Description }}</p>
    <p><strong>Addres</strong> : {{ dormitory.Addres}}</p>
    <p><strong>Number</strong> : {{ dormitory.Number }}</p>
    <p><strong>ComendantId </strong>: {{ dormitory.ComendantId }}</p>
    <table class='table' *ngIf="dormitory">
        <thead>
            <tr>
                <th>id</th>
                <th>Number</th>
                <th>DormitoryId</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let floor of dormitory.Floors">
                <td>{{ floor.Id }}</td>
                <td>{{ floor.Number }}</td>
                <td>{{ floor.DormitoryId }}</td>
                <td> <a [routerLink]="['details',floor.Id]">Show details</a></td>
            </tr>
        </tbody>
    </table>
</div>
