<h1>Floor!</h1>
<p *ngIf="!floor"><em>Loading...</em></p>
<div *ngIf="floor">
    <p> <strong>Id</strong> : {{floor.Id}}</p>
    <p><strong>Number</strong> : {{ floor.Number }}</p>
    <p><strong>DormitoryId </strong>: {{ floor.DormitoryId }}</p>
    <h2>Blocks</h2>
    <table class='table' *ngIf="floor">
        <thead>
            <tr>
                <th>id</th>
                <th>FloorId</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let block of floor.Blocks">
                <td>{{ block.Id }}</td>
                <td>{{ block.FloorId }}</td>
                <td> <a [routerLink]="['/details',block.Id]">Show details</a></td>
            </tr>
        </tbody>
    </table>
</div>
