<div class="row">
    <div class="col-sm-3" style="padding-top:15px">
        <div>
            <div style="display:inline-block; float:left;">
                <button type="button" class="btn btn-primary btn-margin-5"  [routerLink]="['info']">Personal info:</button>
                <button type="button" class="btn btn-primary btn-margin-5" [routerLink]="['info']">My dormitory:</button>
                <button type="button" class="btn btn-primary btn-margin-5"  [routerLink]="['students']">Students:</button>
            </div>
        </div>
    </div>
    <div class="col-sm-9 bs-callout bs-callout-info">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
