<div class="navigate">
    <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/dormitory">Dormitories</a>
        <a routerLink="/floor">Floors</a>
        <a routerLink="/administator">Administators</a>
        <a routerLink="/block">Blocks</a>
        <a routerLink="/room">Rooms</a>
        <a routerLink="/student">Students</a>
    </nav>

</div>
<div class="dropdown" dropdown>
    <button class="btn btn-primary" dropdown-open>My Heroes</button>
    <ul class="dropdown-menu">
        <li><a href="#" (click)="select()">Badman</a></li>
        <li><a href="http://google.com">Sadman</a></li>
        <li><a href="#">Lieman</a></li>
    </ul>
</div>
<router-outlet></router-outlet>

